
*,
html,
body {
  --bs-font-sans-serif: YakuHanJP, GenEiUniverSans-w, SourceHanSans-w, sans-serif,  -apple-system;
  font-family: var(--bs-font-sans-serif);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-feature-settings: "palt";
  line-height: 1.6;
}

:root {
  --bs-body-line-height: 1.6;
}

html.dark {
  --bs-body-color: #f8f9fa;
  --bs-body-color-rgb: 248,249,250;
  --bs-body-bg: #16191c;
  --bs-body-bg-rgb: 22,25,28;
  --bs-link-color: #4a7aff;

  .card {
    --bs-card-color: #f8f9fa;
    --bs-card-bg: #16191c;
  }
}

a.google-anno {
  color: var(--bs-body-color);
}